figcaption {
    font-size: small;
    padding-bottom: 2em;
}

figure {
    margin-top: 2em;
}

footer {
    font-size: small;
}

div.subtitle {
    font-style: italic;
    color: #C0C0C0;
    padding-bottom: 1em;
}

div.posts {
    margin-bottom: 1em;
    line-height: 1.45;
}

figure.center img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}
